apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: storage
  labels:
    app: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:15
          env:
            - name: POSTGRES_USER
              value: orbeon
            - name: POSTGRES_PASSWORD
              value: changeit
            - name: POSTGRES_DB
              value: orbeondb
          ports:
            - containerPort: 5432
              name: psql
          volumeMounts:
            - name: postgres-storage
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: postgres-storage
          persistentVolumeClaim:
            claimName: postgres-pvc
