- name: Deploy Core Services (MinIO, Postgres, Orbeon)
  hosts: localhost
  connection: local
  gather_facts: false

  vars:
    kubeconfig_path: "{{ lookup('env', 'HOME') + '/.kube/config' }}"
    orbeon_configmap_file: "{{ playbook_dir }}/../../k8s-manifests/orbeon/properties-configmap.yml"

  tasks:
    - name: Create Orbeon properties ConfigMap
      kubernetes.core.k8s:
        state: present
        src: "{{ orbeon_configmap_file }}"
        kubeconfig: "{{ kubeconfig_path }}"
        
    - name: Create Orbeon context ConfigMap
      kubernetes.core.k8s:
        state: present
        src: "{{ playbook_dir }}/../../k8s-manifests/orbeon/orbeon-context-configmap.yml"
        kubeconfig: "{{ kubeconfig_path }}"


    - name: Deploy MinIO service and deployment
      kubernetes.core.k8s:
        state: present
        src: "{{ item }}"
        kubeconfig: "{{ kubeconfig_path }}"
      loop:
        - "{{ playbook_dir }}/../../k8s-manifests/minio/service.yml"
        - "{{ playbook_dir }}/../../helm-charts/minio/templates/deployment.yaml"

    - name: Wait for MinIO deployment to be ready
      kubernetes.core.k8s_info:
        api_version: apps/v1
        kind: Deployment
        name: minio
        namespace: storage
        kubeconfig: "{{ kubeconfig_path }}"
        wait: true
        wait_condition:
          type: Available
          status: "True"
        wait_timeout: 300

    - name: Deploy MinIO bucket creation job
      kubernetes.core.k8s:
        state: present
        src: "{{ playbook_dir }}/../../k8s-manifests/minio/bucket-creation-job.yml"
        kubeconfig: "{{ kubeconfig_path }}"

    - name: Deploy PostgreSQL service and deployment
      kubernetes.core.k8s:
        state: present
        src: "{{ item }}"
        kubeconfig: "{{ kubeconfig_path }}"
      loop:
        - "{{ playbook_dir }}/../../k8s-manifests/postgres/service.yml"
        - "{{ playbook_dir }}/../../helm-charts/postgres/templates/deployment.yaml"

    - name: Create Orbeon schema ConfigMap
      kubernetes.core.k8s:
        state: present
        src: "{{ playbook_dir }}/../../k8s-manifests/postgres/schema-configmap.yml"
        kubeconfig: "{{ kubeconfig_path }}"

    - name: Deploy PostgreSQL schema init job
      kubernetes.core.k8s:
        state: present
        src: "{{ playbook_dir }}/../../k8s-manifests/postgres/db-init-job.yml"
        kubeconfig: "{{ kubeconfig_path }}"

    - name: Deploy Orbeon (service and deployment)
      kubernetes.core.k8s:
        state: present
        src: "{{ item }}"
        kubeconfig: "{{ kubeconfig_path }}"
      loop:
        - "{{ playbook_dir }}/../../k8s-manifests/orbeon/service.yml"
        - "{{ playbook_dir }}/../../helm-charts/orbeon/templates/deployment.yaml"
