- name: Deploy Core Services (MinIO, Postgres, Orbeon)
  hosts: localhost
  connection: local
  gather_facts: false

  vars:
    kubeconfig_path: "{{ lookup('env', 'HOME') + '/.kube/config' }}"
    orbeon_configmap_file: "{{ playbook_dir }}/../../k8s-manifests/orbeon/properties-configmap.yml"

  tasks:
    - name: Create Orbeon properties ConfigMap
      kubernetes.core.k8s:
        state: present
        src: "{{ orbeon_configmap_file }}"
        kubeconfig: "{{ kubeconfig_path }}"

    - name: Deploy MinIO service and deployment
      kubernetes.core.k8s:
        state: present
        src: "{{ item }}"
        kubeconfig: "{{ kubeconfig_path }}"
      loop:
        - "{{ playbook_dir }}/../../k8s-manifests/minio/service.yml"
        - "{{ playbook_dir }}/../../helm-charts/minio/templates/deployment.yaml"

    - name: Deploy PostgreSQL service and deployment
      kubernetes.core.k8s:
        state: present
        src: "{{ item }}"
        kubeconfig: "{{ kubeconfig_path }}"
      loop:
        - "{{ playbook_dir }}/../../k8s-manifests/postgres/service.yml"
        - "{{ playbook_dir }}/../../helm-charts/postgres/templates/deployment.yaml"

    - name: Deploy Orbeon (service and deployment)
      kubernetes.core.k8s:
        state: present
        src: "{{ item }}"
        kubeconfig: "{{ kubeconfig_path }}"
      loop:
        - "{{ playbook_dir }}/../../k8s-manifests/orbeon/service.yml"
        - "{{ playbook_dir }}/../../helm-charts/orbeon/templates/deployment.yaml"
